@model Aadhar1.Models.email




@using (Html.BeginForm("email_update", "Home", FormMethod.Post))
{
    @*<div class="wrapper">
            <div class="consign">

                <div class="title"><p>Email</p></div>
                <p class="view"> @TempData["message1"]</p><br />



                <label>Enter Email</label> <br />
                @Html.TextBoxFor(e => e.Email, null, new { @class = "form-control", @placeholder = "abc@gmail.com" })
                @Html.ValidationMessageFor(e => e.Email, null, new { @class = "text-danger" })


                <br />


                <input class="subbtn" type="submit" value="Send OTP">



            </div>
        </div>*@
    <div class="body">
        <div class="wrappersignin">

            <div class="heading">
                <h2>Email Verification</h2>

                <strong style="padding-top:5px;">@TempData["message1"]</strong>
            </div>

            <div class="input-group">
                @Html.TextBoxFor(e => e.Email, null, new { @class = "input-field  form-control", @placeholder = "abc@gmail.com" })
                @Html.ValidationMessageFor(e => e.Email, null, new { @class = "text-danger" })

            </div>



            <div class="input-group">
                <button>Submit</button>
            </div>

        </div>



    </div>

}

