@model Aadhar1.Models.emailValidation



@using (Html.BeginForm("emailValidation", "Home", FormMethod.Post))
{
    <div class="body">
        <div class="wrappersignin">

            <div class="heading">
                <h2>Email Verification</h2>

                <strong style="padding-top:5px;">@TempData["verifyEmail"]</strong>
                <strong style="padding-top:5px;">@TempData["message1"]</strong>
            </div>

            <div class="input-group">
                @Html.TextBoxFor(e => e.Email, null, new { @class = "input-field  form-control", @placeholder = "abc@gmail.com" })
                @Html.ValidationMessageFor(e => e.Email, null, new { @class = "text-danger" })

            </div>



            <div class="input-group">
                <button>Submit</button>
                @* @Html.ActionLink("Submit", "emailValidation", "Home")*@
            </div>

        </div>



    </div>
}
