@model Aadhar1.Models.signup

@{
    ViewBag.Title = "signup";
}

@using (Html.BeginForm("Signup", "Home", FormMethod.Post))
{
    <div class="wrapper1">
        <div class="consign1">
            <div class="title"><h1>Signup</h1></div><br />   
            @if (TempData["message"] != null)
            {
            <div class="alert alert-info">
                <strong>Message :-</strong>@TempData["message"]
            </div>

            }<br /><br />
            <div class="con">
                <div>

                    @Html.Label("Firstname")<br />
                    @Html.TextBoxFor(e => e.Firstname, null, new { @class = "form-control" })
                    @Html.ValidationMessageFor(e => e.Firstname, null, new { @class = "text-danger" })
                    <br />

                    @Html.Label("Email")<br />
                    @Html.TextBoxFor(e => e.Email, null, new { @class = "form-control" })
                    @Html.ValidationMessageFor(e => e.Email, null, new { @class = "text-danger" })
                    <p class="view">@ViewBag.Email</p>
                    <br />

                    @Html.Label("Mobile")<br />
                    @Html.TextBoxFor(e => e.Mobile, null, new { @class = "form-control" })
                    @Html.ValidationMessageFor(e => e.Mobile, null, new { @class = "text-danger" })
                    <br />


                    @Html.Label("Pass")<br />
                    @Html.TextBoxFor(e => e.Pass, null, new { @class = "form-control", @type = "password" })
                    @Html.ValidationMessageFor(e => e.Pass, null, new { @class = "text-danger" })
                    <br />


                    @Html.Label("ConPass")<br />
                    @Html.TextBoxFor(e => e.ConPass, null, new { @class = "form-control", @type = "password" })
                    @Html.ValidationMessageFor(e => e.ConPass, null, new { @class = "text-danger" })
                    <br />
                </div>
            </div>
            <div class="con1">
                <input type="submit" value="Submit" class="subbtn" />
                @*@using (Html.BeginForm("email", "Home", FormMethod.Post))
            {
                <input type="submit" value="Update" class="subbtn" />
            }*@

            </div>
            <br />
            <div class="con2">
                <p>Already Signup? </p><p class="btn">@Html.ActionLink("Signin", "signin", "Home")</p>
            </div>
            <script>
                if (@ViewBag.infor == "true") {
                      $(document).ready(function () {
                    alert("Registered!");
                  });
                 }
            </script>
        </div>
    </div>

}

