@model Aadhar1.Models.signin
<link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css" rel="stylesheet" />
<link href=" https://fonts.googleapis.com/css2?family=Outfit:wght@100;200;300;400;500;600;700;800;900&amp;family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&amp;display=swap
" rel="stylesheet" />




@using (Html.BeginForm("Signin", "Home", FormMethod.Post))
{
    <!-- <div class="wrapper">
         <div class="consign">

             <div class="title"><p>Login</p></div>
             <p class="view"> @ViewBag.Messagelog</p><br />



             <label>Email</label> <br />
             @Html.TextBoxFor(e => e.Email, null, new { @class = "form-control", @placeholder = "abc@gmail.com" })
             @Html.ValidationMessageFor(e => e.Email, null, new { @class = "text-danger" })
             <br />

             <label>Password</label> <br />
             @Html.TextBoxFor(e => e.Pass, null, new { @class = "form-control", @type = "password", @placeholder = "Password" })
             @Html.ValidationMessageFor(e => e.Pass, null, new { @class = "text-danger" })
             <br />
             <br />
             <div class="rem">
                 @Html.CheckBoxFor(e => e.remember)
                 <label>&nbsp; Remember Me?</label>
             </div>
             <input type="submit" value="Login" class="subbtn" />
             @Html.ActionLink("Forget Password", "emailValidation", "forget")
             <br />
             <div class="sign">
                 <p>Don't have account yet?</p>&nbsp;@Html.ActionLink("Signup", "Signup", "Home")

             </div>
         </div>
     </div>-->

    <div class="body">
        <div class="wrappersignin">

            <div class="heading">
                <h2>Welcome!</h2>
                <p>Sign In to your account</p>
                <strong style="padding-top:5px;"> @ViewBag.Messagelog</strong>
            </div>

            <div class="input-group">
                @Html.TextBoxFor(e => e.Email, null, new { @class = "input-field form-control", @placeholder = "abc@gmail.com" })
                @Html.ValidationMessageFor(e => e.Email, null, new { @class = "text-danger " })
            </div>

            <div class="input-group">
                @Html.TextBoxFor(e => e.Pass, null, new { @class = "input-field form-control", @type = "password", @placeholder = "Password" })
                @Html.ValidationMessageFor(e => e.Pass, null, new { @class = "text-danger " })
            </div>

            <div class="input-group row">

                @*<div class="row">
                    @Html.CheckBoxFor(e => e.remember, new { @class = "custom-checkbox" })
                    <label for="remember">Remember me?</label>
                </div>*@

                <div class="row">
                    @Html.ActionLink("Forget Password ?", "emailValidation", "Home")
                </div>
            </div>


            <div class="input-group">
                <button>Login <i class="fa-solid fa-arrow-right"></i></button>
            </div>
            <div style="text-align:center;padding-top:5px;">
                <p>Don't have account yet?</p>&nbsp;@Html.ActionLink("Signup", "Signup", "Home")
            </div>
        </div>
    </div>

}
    