@model Aadhar1.Models.VerifyOTP



@using (Html.BeginForm("VerifyOTP", "Home", FormMethod.Post))
{
    @*<div class="wrapper" >

        <div class="consign">

            <div class="title"><p>Verification</p></div>
            <p class="view"> @TempData["message1"]</p><br />

            @if (TempData["otpMess"] != null)
            {
                <div class="alert alert-danger">
                    <strong>Alert:- </strong>@TempData["otpMess"]
                </div>
            }
                <label>Enter OTP send to your Email</label> <br />
                @Html.TextBoxFor(e => e.OTP, null, new { @class = "form-control" })
                @Html.ValidationMessageFor(e => e.OTP, null, new { @class = "text-danger" })
                <br />

                <input type="submit" value="Submit" class="subbtn" />
            </div>
        </div>*@

    <div class="body">
        <div class="wrappersignin">

            <div class="heading">
                <h2>Code Verification</h2>

                <strong style="padding-top:5px;">@TempData["message1"]</strong>
                @if (TempData["otpMess"] != null)
                {
                    <div class="alert">
                        <strong>Alert:- </strong>@TempData["otpMess"]
                    </div>
                }
            </div>

            <div class="input-group">
                @Html.TextBoxFor(e => e.OTP, null, new { @class = "input-field  form-control", @placeholder = "code" })
                @Html.ValidationMessageFor(e => e.OTP, null, new { @class = "text-danger" })

            </div>



            <div class="input-group">
                <button>Submit</button>
            </div>

        </div>



    </div>
}





