@*@model Aadhar1.Models.welcome*@
@model Aadhar1.Models.adharDetails
@{
    ViewBag.Title = "welcome";
}

@*<div class="alert alert-success alert-dismissible" style="margin-bottom:0px;">
        <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
        <strong>😊Congrates!</strong> for getting your Aadhar.
    </div>*@
<div class="bigbox">

    <div class="smbox">
        <div>
            @Html.TextBoxFor(e => e.ID, null, new { @class = "form-control", type = "hidden" })
            @Html.ValidationMessageFor(e => e.ID, null, new { @class = "text-danger", type = "hidden" })
            <img src="https://image.pngaaa.com/91/1387091-middle.png" alt="stambh" width="60em" height="auto" />
            <img src="~/Content/image/aadharflag.jpg" width="300px" height="50px" />
            <img src="https://seeklogo.com/images/A/aadhaar-hindi-logo-96C4555231-seeklogo.com.png" alt="Aadhar UIDAI" width="60em" height="auto" />

        </div><br />
        <div class="con4">
            <div>
                @Html.TextBoxFor(e => e.Image, null, new { placeholder = "Image", @class = "form-control", style = "width:100px;height:110px" })
                @Html.ValidationMessageFor(e => e.Image, null, new { @class = "text-danger" })
            
                @*<img src="~/Content/image/img_avatar2.png" width="100px" height="110px" class="image" />*@
            </div>
            <div class="con5">
                @*<p>Ritesha kumari(hindi)</p>*@
                <p>
                    @Html.TextBoxFor(e => e.FullName, null, new { placeholder = "FullName", @class = "form-control", style="border:none;" })
                    @Html.ValidationMessageFor(e => e.FullName, null, new { @class = "text-danger " })
                </p>

                <p>
                    @Html.TextBoxFor(e => e.DOF, null, new { placeholder = "Date Of Birth", @class = "form-control", style = "border:none;" })
                    @Html.ValidationMessageFor(e => e.DOF, null, new { @class = "text-danger" })
                </p>

                <p>
                    @Html.TextBoxFor(e => e.Gender, null, new { placeholder = "Gender", @class = "form-control", style = "border:none;" })
                    @Html.ValidationMessageFor(e => e.Gender, null, new { @class = "text-danger" })
                </p>
            </div>

        </div><br />
        <div class="boxbot">
            <p>XXXX &nbsp;  XXXX &nbsp; XXXX</p>
        </div>
        <div class="h"></div>
        <div class="boxbot">
            <p>मेरा <span class="red">आधार,</span> मेरी पहचान</p>
        </div>

    </div>

    <div class="smbox">
        <div>
            <img src="https://image.pngaaa.com/91/1387091-middle.png" alt="stambh" width="60em" height="auto" />
            <img src="~/Content/image/aadharflag.jpg" width="300px" height="50px" />
            <img src="https://e7.pngegg.com/pngimages/279/962/png-clipart-aadhaar-uidai-identity-document-permanent-account-number-india-india-text-logo.png" alt="Aadhar UIDAI" width="60em" height="auto" />
        </div>
        <div class="col5">
            <div class="address">
                @*<p class="pata">Address:(hindi)</p>
                <p class="p">hdsgjjjjjjjjjjjjjkkkddkjslnkdfsdk<br />jsdjfeejeekjmf;lrr;e<br />khkjsfdhkj</p><br />*@
                <p class="pata">
                    @Html.TextBoxFor(e => e.StreetAdd, null, new { placeholder = "Street Address", @class = "form-control", style = "border:none;" })
                    @Html.ValidationMessageFor(e => e.StreetAdd, null, new { @class = "text-danger" })
                </p>
                <p class="p">
                    @Html.TextBoxFor(e => e.ZIP, null, new { placeholder = "ZIP or postal code", @class = "form-control", style = "border:none;" })
                    @Html.ValidationMessageFor(e => e.ZIP, null, new { @class = "text-danger" })<br />      
                    @Html.TextBoxFor(e => e.City, null, new { placeholder = "City", @class = "form-control", style = "border:none;" })
                    @Html.ValidationMessageFor(e => e.City, null, new { @class = "text-danger" })<br />
                </p>
            </div>
            <div class="qrcode">
                <img src="https://www.prepressure.com/images/dict_qrcode_prepressure_text.png" alt="qr" width="150px" height="150px" class="image1" />
            </div>
        </div>
        <div class="boxbot">
            <p>XXXX &nbsp;  XXXX &nbsp; XXXX</p>
        </div>
        <div class="h"></div>
        <div class="row1">
            <div class="row2">
                <i class="fa-solid fa-square-phone"></i><p>1947</p>
            </div>
            <div class="row2">
                <p>|</p>
            </div>
            <div class="row2">
                <i class="fa-regular fa-envelope"></i>&nbsp;<p>help@uidai.gov.in</p>
            </div>
            <div class="row2">
                <p>|</p>
            </div>
            <div class="row2">
                <i class="fa-solid fa-globe"></i>&nbsp;<p>www.uidai.gov.in</p>
            </div>
        </div>


    </div>
    @*@Html.Partial("~/Views/_PartialView.cshtml")*@

</div>



